@model RJ35.Models.Cable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CableType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CableType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetersAvaliable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetersAvaliable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceMeter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceMeter)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
