@model IEnumerable<RJ35.Models.Products.ViewModels.CableViewModel>

@{
    ViewData["Title"] = "Cable - Installations";
}




<h1>Cable</h1>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 align-items-stretch">
    @foreach (var item in Model) {
        <div class="col">
            <a asp-route-id="@item.ProductId">
                <div class="card h-100">
                    <img src="@Html.DisplayFor(modelItem => item.Image)" class="card-img-top"/>
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        @* <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p> *@       
                        <h5>@Html.DisplayFor(modelItem => item.ProductRating) <i data-lucide="star" class="" width="20" color="yellow" fill="yellow"></i></h5>
                        <div class="d-flex justify-content-between">     
                            @if (item.Stock <= 0)
                            {
                                <span class="text-danger">Out of Stock</span>
                            }
                            else if (item.Stock <= 25)
                            {
                                <span class="text-warning">Low Stock</span>
                            }
                            else
                            {
                                <span class="text-success">Avaliable</span>
                            }
                            <span>@Html.DisplayFor(modelItem => item.Price) €/m</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

